



body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    
}

h1 {
    font-weight: 600;
    font-size: 50px;
    color: #f0f16b;   
   
}

h2 {
    font-weight: 600;
    font-size: 25px;
    color: #f0f16b;
   
    letter-spacing: 2px;
   
}

h3 {
    font-weight: 300;
    font-size:  20px;
    color: #f0f16b;
    letter-spacing: 2px;
    
}

p {
    font-weight: 300;
    font-size: 15px;
    color:  #f4f8f9;
}

hr {
    border: 1px solid  #f4f8f9;
    width: 800px;
    margin-top: 30px;
}


.reduced-width {
    width: 60%;
}

.standard-width {
    width: 90%;
}

.yellow {
    color: #f0f16b
}


.title {
margin-top: -25px; height: 34px;
    font-weight: 600;
}
.title2 {
margin-top: 10px; height: 34px;
    font-weight: 600;
}
.meta {
    margin-top: -25px; height: 34px;
    font-size: 12px;
    text-transform: uppercase;
    padding: -20px 0;
}
.meta2 {
    margin-top: -25px; height: 34px;
    font-size: 12px;
    text-transform: uppercase;
    padding: -20px 0;
}
.meta3 {
    margin-top: -5px; height: 34px;
    font-size: 12px;
    text-transform: uppercase;
    padding: -20px 0;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #39627e;
    min-height: 80%;
}

.contenido {
    max-width: 800px;
    padding: 100px 0;
}

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.fila {
    display: flex;
    flex-direction: fila;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    text-align: left;
}

.column-item:not(:first-child) {
    margin-top: 10%;
}

.contact-group {
    display: flex;
    flex-direction: fila;
    align-items: center;
    gap: 10px;
    margin: -10px 0;
}

.habilidades {
    display: flex;
    flex-direction: fila;
    align-items: center;
    justify-content: space-between;
    margin: -13px 0;
}

.timeline-group {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.timeline-group::after {
  content: '';
  position: absolute;
  width: 2px;
  background-color: white;
  top: 5px;
  bottom: 0;
  left: 0;
  margin-left: -20px;
}

.timeline-element:not(:first-child) {
    margin: 30px 0;
}
.edu::after{
    margin-top: -110px !important;
}

.timeline-element::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -24px;
    background-color: #f0f16b;
    border-radius: 50%;
    margin-top: -90px;
}




