body {
	background: #737579;
    margin: 30px auto;
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
}

#table {
    height: 1300px;
}

#td-l-top {
    background: #181b20;
    width: 800px;
}

#td-r-top {
    background: #ffffff;
    width: 2000px;
}

#td-l {
    
    vertical-align: baseline;
    background: #181b20;
    width: 800px;
    /* height: 1500px; */
}

#td-r {
    vertical-align: baseline;
    background: #ffffff;
    width: 2000px;
}

#img-profile {
    padding: 10px; 
    margin: 10px; 
    border: 1px solid black; 
    width: 220px;
    height:220px;
    border-radius:150px;
}

#p-profile {
    color: #ffffff;
    /* font-weight: bold; */
}

#p-body {
    color: #000000;
    padding: 10px; 
    margin: 10px; 
    /* font-weight: bold; */
}

#ul {
    color: #ffffff;
    /* font-weight: bold; */
}

#h1 {
    padding: 10px; 
    margin: 10px; 
}

#h2 {
    padding: 10px; 
    margin: 10px; 
}

#hr-profile {
    color: #ffffff;
    padding: 10px;
    margin: 10px; 
}

#hr {
    margin: 10px; 
}

#barra {
    height: 20px;
    width: 90%;
    background-color: #181b20;
}

#barra2 {
    height: 20px;
    width: 80%;
    background-color: #181b20;
}

#barra3 {
    height: 20px;
    width: 95%;
    background-color: #181b20;
}

#barra4 {
    height: 20px;
    width: 70%;
    background-color: #181b20;
}